* {
  margin: 0;
  /*padding: 0;*/
  box-sizing: border-box;
}


.wrapper {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}


header {
  border: 2px solid green;
  height: 55px;
}


main {
  height: calc(100vh - 110px);
  border: 2px solid green;
}

.img-prew-list {
  display: flex;
  /*height: 100%;*/
}

aside.load-image {
  width: 30%;
}

section.images {
  overflow: auto;
  width: 70%;
  height: 100%;
}

footer {
  border: 2px solid green;
  height: 55px;
  text-align: center;
}


header, main, footer, section, aside {
  padding: 10px;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 100%;
}


}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.full-image-link {
  text-align: center;
}

.images-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.image-box {
  padding: 20px;
  width: 250px;
}

.image-full {
  width: 80%;
  margin: auto;
}


  input[type=text], input[type=file] {
      width: 100%;
      padding: 12px;
      width: 100%;
      margin: 8px 0;
      border: 1px solid #ccc;
      border-radius: 4px;
      resize: vertical;
  }


input[type=button], input[type=submit], input[type=reset] {
    background-color: #23272b;
    border-color: #1d2124;
      border-radius: 4px;

    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
}
